In [75]:
import os
import pandas as pd
import datetime
hist = list(os.popen("git log"))
hist = [i.strip().replace("Date:   ", "").replace(" +0500", "").replace(" -0400", "")[4:] 
        for i in hist if i.startswith("Date")]
dates = []
for i in hist:
    n = datetime.datetime.strptime(i, '%b %d %H:%M:%S %Y')
    dates.append("-".join([str(i) for i in (n.day, n.month, n.year)]))

In [76]:
a = pd.DataFrame([(i, dates.count(i)) for i in set(dates)])a

              0  1
0      1-6-2019  5
1     19-1-2019  2
2      3-6-2019  2
3      4-3-2019  7
4    23-11-2019  1
..          ... ..
128    3-3-2019  1
129   20-3-2019  3
130  11-12-2019  9
131   18-9-2019  6
132   11-5-2019  5

[133 rows x 2 columns]

In [69]:
d

'Dec 11 13:23:00 2019'