In [177]:
import os
import pandas as pd
import datetime
hist = list(os.popen("git log"))
hist = [i.strip().replace("Date:   ", "").replace(" +0500", "").replace(" -0400", "")[4:] 
        for i in hist if i.startswith("Date")]
dates = pd.to_datetime(pd.Series(hist))#.dt.date
dates.head()

0   2019-12-11 15:07:08
1   2019-12-11 15:05:01
2   2019-12-11 15:02:57
3   2019-12-11 15:01:18
4   2019-12-11 14:59:11
dtype: datetime64[ns]

In [207]:
from datetime import datetime
# n = datetime.now()
# current_date_time  = pd.to_datetime("-".join([str(i) for i in [n.year, n.month, n.day]]))
current_date_time = pd.Series(datetime.now())#.dt.date

In [209]:
df = pd.DataFrame(dates)
df['diff'] = [current_date_time - i  for i in dates]
df

                      0                                               diff
0   2019-12-11 15:07:08         0   01:14:18.080803
dtype: timedelta64[ns]
1   2019-12-11 15:05:01         0   01:16:25.080803
dtype: timedelta64[ns]
2   2019-12-11 15:02:57         0   01:18:29.080803
dtype: timedelta64[ns]
3   2019-12-11 15:01:18         0   01:20:08.080803
dtype: timedelta64[ns]
4   2019-12-11 14:59:11         0   01:22:15.080803
dtype: timedelta64[ns]
..                  ...                                                ...
474 2018-12-18 14:40:21  0   358 days 01:41:05.080803
dtype: timedelta6...
475 2018-12-17 21:06:28  0   358 days 19:14:58.080803
dtype: timedelta6...
476 2018-12-14 17:04:15  0   361 days 23:17:11.080803
dtype: timedelta6...
477 2018-12-14 16:34:07  0   361 days 23:47:19.080803
dtype: timedelta6...
478 2018-12-14 16:32:47  0   361 days 23:48:39.080803
dtype: timedelta6...

[479 rows x 2 columns]

In [217]:
[(current_date_time - i)  for i in dates][1].values

array([4585080803000], dtype='timedelta64[ns]')